.shop {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 60px;
    cursor: pointer;
}

.shop-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.brands {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 81px;
}

.shop-area1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-us {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 126px;
    white-space: nowrap;
    cursor: pointer;
}

.shop-area2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sign-up {
    position: relative;
    font-weight: 500;
    text-align: left;
    display: inline-block;
    min-width: 87px;
}

.contact-us1,
.inner,
.shop-area-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.contact-us1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-lg) 32px;
    background-color: var(--color-gray-100);
    border-radius: 50px;
    overflow: hidden;
    justify-content: flex-start;
    white-space: nowrap;
}

.contact-us1:hover {
    background-color: #4f4747;
}

.inner,
.shop-area-parent {
    max-width: 100%;
}

.shop-area-parent {
    flex: 1;
    justify-content: space-between;
}

.inner {
    width: 796px;
    justify-content: flex-end;
    padding: 0 17px;
    box-sizing: border-box;
    text-align: left;
}

.group-7default-icon {
    width: 75px;
    height: 75px;
    position: relative;
    display: none;
}

.rolex-233-watch {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 900;
    font-family: inherit;
    display: inline-block;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    max-width: 100%;
}

.choose-luxury-choose-container {
    margin: 0;
    position: relative;
    font-size: 52px;
    font-weight: 900;
    font-family: inherit;
}

.and-elevate-your,
.and-precision-craftmanship,
.discover-the-prefect {
    margin: 0;
}

.discover-the-prefect-container {
    position: relative;
    line-height: 190%;
    font-weight: 500;
}

.discover-the-prefect-watch-for-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
}

.b {
    position: relative;
    line-height: 137px;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    white-space: nowrap;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

}

.frame-child {
    width: 256.6px;
    height: 91.6px;
    position: relative;
}

.frame-container,
.frame-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-item {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}

.frame-inner {
    height: 75px;
    width: 75px;
    position: relative;
    object-fit: contain;
    z-index: 1;
}

.frame-parent2 {
    position: absolute;
    top: 388px;
    left: 618px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-child1,
.group-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.frame-child1 {
    cursor: pointer;
    z-index: 1;
}

.frame-parent4 {
    position: absolute;
    top: 388px;
    left: 0;
    width: 75px;
    height: 75px;
}

.frame-parent3,
.rolex-watch-png-822x822-98e9db-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    margin-left: 800pxpx;
}

.frame-parent1 {
    align-self: stretch;
    height: 756px;
    position: relative;
}

.div,
.frame-div,
.frame-parent {
    display: flex;
    justify-content: flex-start;
}

.frame-div {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 59px;
    box-sizing: border-box;
    min-width: 498px;
    min-height: 815px;
    max-width: 100%;
}

.frame-parent {
    align-items: flex-end;
}

.frame-parent {
    width: 1444px;
    flex-direction: row;
    gap: 57px;
    max-width: 100%;
    text-align: left;
    margin-top: -300px;
}

.div {
    width: 100%;
    position: relative;
    background: linear-gradient(105.51deg, #a364f4, rgba(255, 222, 194, 0.87));
    overflow: hidden;
    flex-direction: column;
    padding: 44px 42px 83.4px;
    box-sizing: border-box;
    gap: 34px;
    line-height: normal;
    letter-spacing: normal;
}
.rolex{
    margin-top: -400px;
    margin-left: 50px;
    height: 400px;
    
}